body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background: #f5f5f5;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav {
    background: #000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

nav {
    background: #000;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

nav a {
    display: block;       /* INI YANG BIKIN VERTIKAL */
    color: white;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

nav a {
    display: inline-block;
    margin: 10px 15px;  
    color: white;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    color: yellow;
}

h1, h2 {
    text-align: center;
}
